<!-- activities -->
<section class="section" id="projects">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 mx-auto text-center">            
            Careers Support
            Programming to support Stanford EA members in landing high-impact careers
            Creating resources (e.g. internship and research opportunities)
            Workshops (Introductory (for students new to EA) and advanced)
            Career 1:1s (Sign up here, and mention career for what you’d like to discuss)
            Setting up connections with industry professionals, domain experts, and others
            Referrals to professional career coaching
            Professors we’re connected: Steve Luby, Paul Edwards, Megan Palmer, Rob Reich
            
            Events:
            Speaker events
            Former Speakers: Will MacAskill (GPI), Ajeya Cotra (Open Phil), Scott Alexander (Slate Star Codex), Kelsey Piper (Future Perfect), Toby Ord (FHI), Owen Cotton-Barratt (FHI), Alex Berger (Open Phil), Rose Gottemoeller (Former NATO Deputy Secretary General), Greg Lewis (FHI), Bonnie Jenkins (WCAPS), Cullen O’Keefe (OpenAI), Beth Barnes (OpenAI), Buck Shlegeris (MIRI), Larissa MacFarquhar (Strangers Drowning), Mike Levine (Open Phil), Aaron Hamlin (Center for Election Science), Linchuan Zhang + Alex Lszn (SF EA)
            
            Discussions
            Reading Groups
            Workshops
            
            Community and Socials:
            Co-working Sessions
            1:1s/Coffee chats with exec members
            Social and Bonding Events
            Retreats
            

            ///
            outreach, projects
        </div>
      </div>
    </div>
  </section>
  <!-- /activities -->